body {margin: 0px; font-family: 'Montserrat', sans-serif;}
header {background-color:blue; 
	color: white; 
	padding: 5% 5% 0% 5%; text-align: center;}
nav {text-align: center;}
nav ul {list-style-type: none; 
	padding-left: 0px !important}
nav ul li {display: inline-block; 
	/*background-color: white;*/
	padding: 5px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-transform: uppercase;}
.whitelink {text-decoration: none;color: white}
.active {color: blue;
         background-color: white}
li.active a {color: blue}
h1 {text-align: center;
	margin: 0px}
#imghome {max-width: 60%; margin: 10% 20%}
#gearicon {font-size: 2em}
